@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.card {
    background-color: white;
    height: 450px;
    width: 310px;
    position: relative;
    margin: auto;
    top: 50px; bottom: 0;
    left: 0; right: 0;
    border-radius: 50px;
}

.info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.prof {
    font-size: 22px;
    position: absolute;
    top: 140px;
    font-family: "Work Sans", sans-serif;
    color: #555555;
}

.name {
    font-size: 30px;
    font-family: "Raleway",sans-serif;
    color: #f79f08;
    position: absolute;
    letter-spacing: 2px;
    font-weight: 600;
    top: 100px;
}

.divider {
    background-color: #949594;
    height: 1.5px;
    width: 50px;
    position: absolute;
    top: 190px;
}

.bio {
    position: absolute;
    top: 220px;
    color: #949594;
    text-align: center;
    font-size: 18px;
    font-family: "Work Sans",sans-serif;
    line-height: 28px;
}

button {
    position: absolute;
    bottom: 30px;
    background-color: #f79f08;
    border: none;
    font-size: 20px;
    padding: 13px 25px;
    color: white;
    font-family: "Work Sans",sans-serif;
}

.photo1 {
    height: 100%;
    width: 100%;
    background: url(../images/aditya.jpg);
    position: absolute;
    bottom: 0;
    background-size: 100% 100%;
    border-radius: 50px;
    transition: 1s;
}

.photo2 {
    height: 100%;
    width: 100%;
    background: url(../images/akash.jpg);
    position: absolute;
    bottom: 0;
    background-size: 100% 100%;
    border-radius: 50px;
    transition: 1s;
}

.photo3 {
    height: 100%;
    width: 100%;
    background: url(../images/sarthak.jpg);
    position: absolute;
    bottom: 0;
    background-size: 100% 100%;
    border-radius: 50px;
    transition: 1s;
}

.card:hover {
    box-shadow: 0 0 18px 3px rgba(233,144,7,0.7);
}

.card:hover .photo1 {
    transform: scale(0.5,0.35) translateY(-600px);
    background-size: 100% 150%;
    background-position: 0 15%;
    border-radius: 50%;
    box-shadow: 0 0 18px 3px #9400D3;
}

.card:hover .photo2 {
    transform: scale(0.5,0.35) translateY(-600px);
    background-size: 100% 150%;
    background-position: 0 5%;
    border-radius: 50%;
    box-shadow: 0 0 18px 3px #9400D3;
}

.card:hover .photo3 {
    transform: scale(0.5,0.35) translateY(-600px);
    background-size: 100% 150%;
    background-position: 0 5%;
    border-radius: 50%;
    box-shadow: 0 0 18px 3px #9400D3;
}

.btn-text {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.btn-warning {
    margin-left: -70px;
}